.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.getAlbum {
    background-color: rgb(30, 215, 96);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }


.retrieveAlbums {
  justify-content: center;
  font-weight: bolder;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
  